@using Ecommerce_Bulky.Models.Dtos;
@model CategoryCreateDto
@{
    ViewData["Title"] = "Create";
}

   
<form method="post">

    <div class="m-1">
        <label>Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="m-1">
        <label>Display Order</label>
        <input type="number" asp-for="DisplayOrder" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <div class="mt-2 m-1">
        <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
        <button asp-action="Index" class="btn btn-secondary">Back</button>
    </div>
</form>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}